# Virtual environment
.venv/
my_venv/

# Database
db.sqlite3

# Python cache
__pycache__/
*.pyc

# Logs
*.log

# Static files collected for production
staticfiles/

# Media uploads
media/

# Mac system files
.DS_Store
